body {
    font-family: Arial, sans-serif;
    color: #777777;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

div {
    box-sizing: border-box;
}

.container {
    width: 940px;
    margin: 0 auto;
}

header {
    background: #777777 url("../img/myback.jpg") no-repeat center top / cover;
    padding-bottom: 160px;
}

.logo {
    margin-top: 33px;
    float: left;
}

nav {
    float: right;
    margin-top: 49px;
}

.menu {
    padding: 0;
    margin: 0;
    display: block;
}

.menu li {
    float: left;
    display: block;
    margin-right: 43px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.menu a:hover {
    color: #08b9db;
}

.titles {
    width: 940px;
    margin:0 auto;
    text-align: center;
    color: #fff;
    margin-top: 200px;
}

.titles-first {
    font-size: 40px;
    text-transform: uppercase;

}

.titles h1 {
    font-size: 75px;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 0;
    text-transform: uppercase;
}

.btn {
    display: block;
    width: 240px;
    padding: 25px 0;
    text-align: center;
    color: #ffffff;
    background-color: #08a5c7;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0 auto;
    font-weight: 700;
    margin-top: 40px;
    box-sizing: border-box;
 }

.btn:hover {
    color: white;
    background: #08b9db;
}

#services {
    padding-bottom: 120px;
}

.names {
    text-align: center;
    padding-top: 95px;
    margin-bottom: 75px;
}

.names h2 {
    margin: 0;
    font-size: 40px;
    line-height: 75px;
    color: #222222;
    text-transform: uppercase;
    font-weight: 700;
}
.names p {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.services {
    margin-top: 75px;

}

.services-item {
    width: 270px;
    float: left;
    text-align: center;
    margin-right: 65px;

}

.services-item h3 {
    font-size: 18px;
    margin-top: 25px;
    color: #222222;
    margin-bottom: 10px;
}

.services-item p {
    margin-top: 0;
    line-height: 1.6em;
}

.services-item:last-child {
    float: right;
    margin-right: 0;
}

#portfolio {
    background: #f7f7f7;
    padding-bottom: 120px;
}

#about {
    position: relative;
}

.works {
    margin-top: 75px;
}

.works img {
    float: left;
}

.works img:last-child {
    float: right;
}

.works img:nth-child(2) {
    margin-left: 34px;
}

.date {
    margin-top: 75px;
}

.left .event{
    display: inline-block;
    width: 286px;
    float: left;
    text-align: right;
    line-height: 1.6em;
    margin-right: 40px;
}

.event-image {
    position: absolute;
    left: 50%;
    margin-left: -91px;
}

.event h3 {
    font-size: 18px;
    margin-top: 0;
    color: #222222;
    margin-bottom: 10px;
}

.right .event{
    display: inline-block;
    width: 286px;
    float: right;
    text-align: left;
    line-height: 1.6em;
    margin-left: 40px;
}

footer {
    margin-top: 80px;
    padding-bottom: 80px;
}

footer p {
    font-size: 14px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #777777;
}